* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F2F2F2;
}

h2 {
    font-family: serif;
    font-size: 25px;
    text-align: center;
    color: #213c5f;
}

p {
    font-family: sans-serif;
    font-size: 16;
}

.logo {
    width: 5%;
}

nav {
    display: flex; /* Met les éléments en ligne */
    justify-content: space-between; /* Espace entre le logo et la liste */
    align-items: center; /* Alignement vertical */
    cursor: pointer;
    position: fixed;
    width: 100%;
    a:hover {
      color: #b0cef6; /* Couleur au survol */
    }
    background-color: #26446c ;
    ul {
        display: flex;
        justify-content: space-around; /* Espace entre les liens */
        list-style: none;
        width: 33%;
     a {
          font-weight: 500;
          color: #F2F2F2;
        }
      }
  }
  
  #logo {
    width: 5%;
    object-fit: cover;
  }

#image {
    width: 30%;
}

.sect1 {
    display: flex;
    text-align: center;
    margin-left: 13%;
    padding: 50px;
}

.div1 {
    display: flex;
    width: AUTO;
    flex-direction: column;
    gap: 20%;
    TEXT-ALIGN: JUSTIFY;
    WIDTH: 463PX;
    MARGIN: 56PX;
    color: #213c5f;
}

.sectioncard {
    display: flex;
    margin: 34px;
    justify-content: center;
}

.card {
    display: flex;
    border: 1px solid #46352A;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.411);
    border-radius: 8px;
    padding: 5px;
    GAP: 30PX;
    MARGIN: 30px;
    flex-direction: column;
    width: 25%;
    align-items: center;
    background-color: #213c5f;
    color: #F2F2F2;
}

.fig {
    display: flex;
    flex-direction: column;
    border: 1px solid #A68477;
    padding: 10px;
    align-items: center;
}

.div3 {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

i {
    font-size: 50px;
    color: #b0cef6;
}

.div2 {
    display: flex;
    justify-content: center;
    gap: 237px;
    padding: 24px;
}

.ligne {
    line-height: 3;
}

.Projets {
    display: flex;
    justify-content: center;
}

.image {
    width: 203px;
    height: 176px;
    border-radius: 1rem;
    object-fit: fill;
}

.sect3 {
    margin: 34px;

}
.sect4 {
    margin: 34px;

    h4 {
        color: #F2F2F2;
        text-align: center;
    }
}

.sect5 {
    margin: 34px;
}

.sect6 {
    width: 700PX;
    margin: auto;
    padding: 32px;
    box-shadow: 0 4px 15px #00000026;
    border-radius: 18px;
    gap: 12px;
    display: flex;
    flex-direction: column;
}

.Projets .card {
    padding: 34px;
    color: #F2F2F2;
}

form {
    input[type="text"] {
        WIDTH: 294PX;
        HEIGHT: 30PX;
    }
}

textarea {
    width: 681PX;
    HEIGHT: 134PX;
}

button {
    width: 100px;
    background-color: #213c5f;
    border: 2px solid;
    BORDER-RADIUS: 5PX;
    COLOR: #F2F2F2;
    margin: 2px;
    padding: 10px;
}

footer {
    display: flex;
    gap: 45px;
    justify-content: center;
}
.cv{
    background-color: #213c5f;
    color: #F2F2F2;
}